@import "../../../styles/mixins.styl";

.exchange {
	background: #eaeaea;
	.exchange-box {
		background: #fff;
		padding: 0 px1080(42);
		border-bottom: 1px solid #e2e2e2;
	}
	.wrap {
		padding: px1080(45) 0;
		overflow: hidden;
	}
	.title {
		float: left;
		> p {
			font-size: px1080(48);
		}
		> span {
			color: rgba(0,0,0,0.4);
			font-size: px1080(36);
		}
	}
	.input-box {
		float: right;
		display-flex();
		background: #ededed;
		> span {
			display: inline-block;
			width: px1080(96);
			height: px1080(96);
			line-height: px1080(96);
			text-align: center;
			&:nth-child(1), &:nth-child(3) {
				color: #c2c2c2;
				font-size: px1080(80);
			}
			&:nth-child(2) {
				width: px1080(156);
				border-left: 1px solid #fff;
				border-right: 1px solid #fff;
			}
			> input {
				height: 100%;
				width: 100%;
				border: none;
				background: #ededed;
				text-align: center;
				outline: none;
			}
		}
	}
	.result {
		clear: both;
		font-size: px1080(36);
		height: px1080(115);
		padding-top: px1080(35);
		> span {
			display: inline-block;
			color: rgba(0,0,0,0.6);
		}
		.consume {
			float: right;
			color: rgba(0,0,0,0.6);
			> span {
				color: #d1773b;
				> i {
					font-style: inherit;
					font-size: px1080(60);
					line-height:0;
				}
			}
			&.notice{
				color:#ec625e;
			}
		}
	}
	.exchange-button {
		width: px1080(983);
		height: px1080(120);
		margin: px1080(36) auto 0;
		text-align: center;
		line-height: px1080(120);
		color: #fff;
		background: #cfae61;
		vendor(border-radius, 5px);
		&.disable{
			opacity:.5
		}
	}
	
}